<?xml version="1.0" encoding="utf-8"?>
<config>
  <!--//////////////////Devices settings/////////////////////-->
  <devices
    uiva_ip_address = "localhost">
  </devices>
  <subject
    subject_id = "2" 
	controller_type = "joystick_single_mode"
	start_pass = "0"
	start_id = "0">
  </subject>
  <travel_interfaces>
	  <joystick
		walking_speed = "15.0"
		walking_angular_speed = "1.0"
		segway_speed = "50.0"
		segway_angular_speed = "1.0"
		surfing_speed = "100.0"
		surfing_pitch_speed = "20.0"
		surfing_yaw_speed = "0.5">
	  </joystick>
	  <forcepad
		min_finger_move = "5.0"
		min_finger_speed = "5.0"
		max_finger_speed = "15.0"
		walking_angular_speed = "0.3"
		walking_speed_scale = "1.5"
		segway_speed = "60.0"
		segway_pressure_angular_speed = "10.0"
		segway_angular_speed = "0.01"
		segway_offset_speed = "96.0"
		surfing_speed = "120.0"
		surfing_pitch_speed = "80.0"
		surfing_yaw_speed = "0.01">
	  </forcepad>
	  <joystick_single_mode
		min_speed = "15.0"
		angular_speed = "1.0"
		max_speed = "50.0">
	  </joystick_single_mode>
	  <force_extension>
		
	  </force_extension>
  </travel_interfaces>
</config>